#logo {
    display: flex;
}

#wish {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    width: 400px;
    margin-left: -100px;
}

#Sign-in {
    display: flex;
}

#Cart {
    display: flex;
}

#logo input {
    /* border: 1px solid red; */
    width: 400px;
    height: 40px;
    margin-left: 50px;
    margin-top: 10px;
}

#main-div {
    display: flex;
    /* border: 1px solid rgb(42, 15, 247); */
    margin-left: 10px;
}

#Signin-Cart {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-top: -20px;
    /* color: red; */
    font-size: 20px;
}

.wish-sc {
    /* border: 1px solid red; */
    margin-left: 150px;
    width: 300px;
}

.sspo {
    display: flex;
}

.sspo h3 {
    margin-left: 20px;
    margin-top: -30px;
}

#free-ship {
    /* border: 1px solid red; */
    background-color: rgb(0, 76, 166);
    color: white;
    font-family: Cabin, sans-serif;
    font-weight: 700px;
    font-size: 12px;
    height: 50px;
}

.signi_in {
    text-decoration: none;
    color: black;
}

#free-ship h2 {
    /* color: red; */
    transform: translateY(20px);
    margin-left: 440px;
}

.shop-cat {
    /* border: 1px solid red; */
    width: 200px;
    height: 40px;
    background-color: blue;
    font-family: Cabin, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    transform: translateY(15px);
}

.shop-cat h4 {
    margin-left: 20px;
    transform: translateY(10px);
    /* margin-top: 100px; */
}

.parts {
    /* border: 1px solid red; */
    width: 300px;
    font-family: Cabin, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.shop-parts {
    /* border: 1px solid rgb(51, 6, 214); */
    width: 320px;
    box-shadow: rgba(77, 51, 129, 0.24) 0px 3px 8px;
    height: 760px;
}

.spc {
    /* border: 1px solid red; */
    margin-left: 20px;
}

.parts h4 {
    /* border: 1px solid red; */
    margin-left: 18px;
    transform: translateY(20px);
}


/* ///////////////////////////////////////////////////////////////////////////////////// */

#silder-parts {
    /* border: 1px solid red; */
    display: flex;
}


/* /////////////////////////////////////////////////////////// */

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 750px;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 50%;
    text-align: center;
    /* border: 1px solid red; */
    transform: translateY(-300px);
    margin-left: 400px;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.Click-me {
    /* border: 1px solid red; */
    width: 300px;
    height: 40px;
    margin-top: 40px;
    font-size: 18px;
    color: rgb(8, 8, 8);
}

.Click-me:hover {
    background-color: rgb(0, 76, 166);
    color: white;
    cursor: pointer;
}

.dots-three {
    /* margin-top: -0px; */
    transform: translateY(-270px);
}

.Part-Name {
    border: 1px solid red;
    width: 170px;
    height: 30px;
    margin-top: 20px;
}

.total-select {
    /* border: 1px solid red; */
    width: 70%;
    margin-left: 350px;
    transform: translateY(-170px);
}

#model {
    margin-left: 10px;
}

.btn-find :hover {
    cursor: pointer;
    background-color: rgb(171, 9, 6);
}

.btn-find {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(239, 13, 10);
    border: none;
    color: white;
    border-radius: 10px;
}

.phillips img {
    width: 100%;
    margin-left: 10px;
}

.phillips:hover {
    cursor: pointer;
}

.phillips p {
    margin-left: 40px;
}

.phillips h2 {
    margin-left: 40px;
}

.New-delta img {
    width: 100%;
}

.New-delta:hover {
    cursor: pointer;
}

.New-delta p {
    margin-left: 20px;
}

.New-delta h2 {
    margin-left: 20px;
}

.New-phi {
    display: flex;
    margin-top: -40px;
    margin-left: 20px;
}


/* //////////////////////////////////// */

.new-spl {
    display: flex;
    justify-content: space-evenly;
}

.new-spl button a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

.new-spl button {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
}

.new-spl1 button {
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
}

.new-spl1 button a {
    text-decoration: none;
    font-size: 20px;
    color: blue;
}

.new-spl button:hover {
    cursor: pointer;
}


/* .aircraft {
    border: 1px solid red;
} */

.aircraft img {
    width: 100%;
}

.asn {
    /* border: 1px solid red; */
    width: 35%;
    transform: translateY(-270px);
    margin-left: 100px;
}

.asn button {
    width: 300px;
    height: 30px;
    background-color: rgb(14, 131, 174);
    border: none;
    margin-left: 40px;
    border-radius: 10px;
}

.asn button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.ak500 {
    /* border: 1px solid red; */
    display: flex;
    margin-left: 10px;
}

.ak500-total {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-top: -100px;
}

.avid {
    border: 1px solid red;
    width: 200px;
    margin-left: 50px;
    border: none;
    background: none;
}

.avid:hover {
    cursor: pointer;
    color: red;
}

.abour-list {
    display: flex;
}

.about-us {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.rc-allen {
    display: flex;
}

.rc-allen h4 {
    color: red;
    margin-top: 40px;
}

.re-allen-div-shop-1 {
    /* border: 1px solid red; */
    width: 200px;
    margin-left: 30px;
    height: 30px;
    border: none;
    background: none;
}

.re-allen-div-shop-1:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.re-allen-div-shop-2 {
    /* border: 1px solid red; */
    width: 200px;
    margin-top: 35px;
    margin-left: 30px;
    height: 30px;
    border: none;
    background: none;
}

.re-allen-div-shop-2:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.re-allen-div-shop-3 {
    /* border: 1px solid red; */
    width: 200px;
    margin-top: 50px;
    margin-left: 30px;
    height: 30px;
    border: none;
    background: none;
}

.re-allen-div-shop-3:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.lmptw div {
    /* border: 1px solid red; */
    width: 200px;
    margin-top: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.lmptw div img {
    /* border: 1px solid red; */
    margin-left: 30px;
    margin-top: 20px;
}

.lmptw div p {
    /* border: 1px solid red; */
    width: 120px;
    margin-left: 30px;
    text-align: center;
}

.lmptw div:hover {
    cursor: pointer;
}

.footer {
    background-color: rgb(0, 76, 166);
}

.footer-div {
    display: flex;
}

.footer-icons {
    width: 33%;
    margin-left: 100px;
    text-decoration: none;
    background-color: white;
    transform: translateY(-10px);
}

.footer-icons svg {
    margin-left: 20px;
    /* border: 1px solid red; */
    transform: translateY(10px);
}